body {
    background-image: url(http://www.desktop-screens.com/data/out/37/2807436-egyptian-wallpapers.jpg);
    background-size: 100%;
}

h1 {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    background-color: gold;
    border-bottom: 3px black solid;
}

div {
    margin: 3px;
}

#triptych {
    width: 100% auto;
}

#instructions {
    background-color: tan;
    border: 5px double saddlebrown;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px;
    width: 45%;
    float: left;
}

#start {
    background-color: tan;
    border: 5px double saddlebrown;
    padding: 20px;
    height: 100px;
    width: 45%;
    text-align: center;
    float: left;
}   

#random-number {
    background-color: tan;
    border: 5px double saddlebrown;
    height: 100px;
    width: 45%;
    padding: 20px;
    float: left;
}

#w-l {
    height: 100px;
    padding: 20px;
    width: 60%;
    background-color: tan;
    border: 5px double saddlebrown;
    float: left;
}

#hieroglyphs {
    width: 30%;
    background-color: tan;
    border: 5px double saddlebrown;
    padding: 20px;
    justify-content: space-between;
    float: left;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

#score {
    width: 90%;
    background-color: tan;
    border: 5px double saddlebrown;
    float: left;
    text-align: center;
    font-size: 30px;

}

#btn {
    font-size: 20px;
    padding: 20px;
}


img {
    width: 50px;
}

img:hover {
    opacity: .2;
}

img:active {
    border: 1px black solid;
}

@media screen and (max-width: 923px) {

    body {
        background-image: url(https://thumbs.dreamstime.com/b/egyptian-background-14201574.jpg);
        background-size: 100%;
    }

    #instructions {
        width: 80%;
        margin-right: 5%;
        margin-left: 5%;
        float: none;
    }

    #random-number {
        width: 30%;
        margin-left: 10%;
        float: left;
        font-size: 30px;
        text-align: center;
        padding-top: 40px;
        height: 80px;
    }

    #w-l {
        width: 30%;
        margin-left: none;
        float: left;
        text-align: center;
        font-size: 30px;
    }

    #hieroglyphs {
        width: 67%;
        margin-left: 10%;
    }

    .glyph {
        margin-right: 7%;
        margin-left: 7%;
    }

    #score {
        width: 70%;
        padding: 10px;
        margin-left: 10%;
    }

    #start {
        width: 67%;
        margin-left: 10%;
        text-align: center;
    }   

    #btn {
        font-size: 20px;
        padding: 20px;
    }

}
