

body {
    background-image: url(https://thumbs.dreamstime.com/b/egyptian-background-14201574.jpg);
    background-size: 100%;
}

h1 {
    font-family: 'Caesar Dressing', cursive;
    margin: 0px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    background-color: gold;
    border-bottom: 3px black solid;
    margin-bottom: 30px;
}

#instructions {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px;
    text-align: center;
    float: none;
    background-color: tan;
    border: 5px double saddlebrown;
    font-size: 20px;
    line-height: 1.3;
}

#total-score {
    font-family: 'Caesar Dressing', cursive;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px;
    text-align: center;
    float: none;
    background-color: tan;
    border: 5px double saddlebrown;
}

#start {
    background-color: tan;
    border: 5px double saddlebrown;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 20px;
}   

#btn {
    font-family: 'Caesar Dressing', cursive;
    font-size: 20px;
    padding: 20px;
    background: linear-gradient(tan, navajowhite);
    border: 3px outset navajowhite;
}

#btn:hover {
    font-weight: bold;
}

#btn:target {
    border: 3px inset navajowhite;
}

#random-number {
    font-family: 'Caesar Dressing', cursive;
    background-color: tan;
    border: 5px double saddlebrown;
    width: 40%;
    margin-left: 10%;
    font-size: 30px;
    text-align: center;
    height: 100px;
    float: left;
    clear: both;
}

#w-l {
    font-family: 'Caesar Dressing', cursive;
    background-color: tan;
    border: 5px double saddlebrown;
    text-align: center;
    font-size: 30px;
    height: 100px;
    width: 39%;
    float: left;
}

#hieroglyphs {
    background-color: tan;
    border: 5px double saddlebrown;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    margin-bottom: 100px;
}

.glyph {
    margin-right: 6%;
    margin-left: 6%;
    width: 65px;
    padding: 10px;
    border-radius: 25%;
    border: 3px outset navajowhite;
}

.glyph:hover {
    opacity: .6;
}

.glyph:active {
    background: linear-gradient(tan, navajowhite);
    border: 3px inset navajowhite;
}

#score {
    font-family: 'Caesar Dressing', cursive;
    font-size: 20px;
    text-align: center;
    background-color: tan;
    border: 5px double saddlebrown;
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    clear: both;
}


div {
    margin: 3px;
}

